<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Urls dos recursos da WebApi -->
    <add key="UriCidade" value="http://localhost:53233/API/Cidade/"/>
    <add key="UriCadastro" value="http://localhost:53233/API/Cadastro/"/>
    <add key="UriTipoCadastro" value="http://localhost:53233/API/TipoCadastro/"/>
    <add key="UriClassCadastro" value="http://localhost:53233/API/ClassCadastro/"/>
    <add key="UriVendedor" value="http://localhost:53233/API/Vendedor/"/>
    <add key="UriEstado" value="http://localhost:53233/API/Estado/"/>
    <add key="UriPais" value="http://localhost:53233/API/Pais/"/>
    <add key="UriPropriedade" value="http://localhost:53233/API/Propriedade/"/>
    <add key="UriTipoPropriedade" value="http://localhost:53233/API/TipoPropriedade/"/>
  </appSettings>
</configuration>