<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Urls dos recursos da WebApi -->
    <add key="UriCidade" value="http://localhost:53233/API/Cidade/" />
    <add key="UriCadastro" value="http://localhost:53233/API/Cadastro/" />
    <add key="UriTipoCadastro" value="http://localhost:53233/API/TipoCadastro/" />
    <add key="UriClassCadastro" value="http://localhost:53233/API/ClassCadastro/" />
    <add key="UriVendedor" value="http://localhost:53233/API/Vendedor/" />
    <add key="UriEstado" value="http://localhost:53233/API/Estado/" />
    <add key="UriPais" value="http://localhost:53233/API/Pais/" />
    <add key="UriPropriedade" value="http://localhost:53233/API/Propriedade/" />
    <add key="UriTipoPropriedade" value="http://localhost:53233/API/TipoPropriedade/" />
    <add key="UriEndereco" value="http://localhost:53233/API/CadastroEndereco/" />
    <add key="UriQualificacaoSocio" value="http://localhost:53233/API/QualificacaoSocio/" />
    <add key="UriFilial" value="http://localhost:53233/API/Filial/" />
    <add key="UriRegiao" value="http://localhost:53233/API/Regiao/" />
    <add key="UriMotivo" value="http://localhost:53233/API/Motivo/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>